<section class="section advantages-section" id="advantages">
  <div class="advantages-bg-wrapper">
    <div class="container advantages-container">
      <div class="advantages-content-wrapper">
        <div class="advantages-text-wrapper">
          <h2 class="section-title advantages-title">
            WHY LIQUID OUT STANDS OUT
          </h2>
          <p class="section-subtitle advantages-subtitle">
            Chill But Still Makes You Think
          </p>
          <p class="advantages-top-text">
            Here's what makes this game different from other puzzle games I've
            tried:
          </p>
          <ul class="advantages-list">
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="advantages-item-text">Oddly satisfying animations</p>
            </li>
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="advantages-item-text">Strategic timing mechanics</p>
            </li>
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="advantages-item-text">Vibrant visual style</p>
            </li>
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="advantages-item-text">Intuitive one-tap gameplay</p>
            </li>
            <li class="advantages-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="advantages-item-text">Endless levels</p>
            </li>
          </ul>
          <p class="advantages-bottom-text">
            It’s calming without being boring.<br />
            Challenging without being stressful.<br />
            It's like someone took a color-sorting game and made it actually
            require some brain power.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/advantages/advantages-img-desk.png"
            media="(min-width: 1432px)"
            width="439"
            height="699" />
          <source
            srcset="./img/advantages/advantages-img-mob.png"
            width="385"
            height="613" />
          <img
            class="advantages-img"
            src="./img/advantages/advantages-img-mob.png"
            alt="Screenshot of the game"
            width="385"
            height="613"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
