<section class="section challenge-section" id="challenge">
  <div class="challenge-bg-wrapper">
    <div class="container challenge-container">
      <div class="challenge-content-wrapper">
        <div class="challenge-text-wrapper">
          <h2 class="section-title challenge-title">PROGRESSIVE CHALLENGE</h2>
          <p class="section-subtitle challenge-subtitle">
            From Easy Streams to Twisted Mazes
          </p>
          <p class="challenge-top-text">
            The early levels introduce basic mechanics and simple pipe paths.<br />
            Then:
          </p>
          <ul class="challenge-list">
            <li class="challenge-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="challenge-item-text">
                Multiple colors flow simultaneously
              </p>
            </li>
            <li class="challenge-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="challenge-item-text">Pipes overlap and cross</p>
            </li>
            <li class="challenge-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="challenge-item-text">Speed increases</p>
            </li>
            <li class="challenge-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="challenge-item-text">Flow becomes unpredictable</p>
            </li>
          </ul>
          <p class="challenge-bottom-text">
            Sure, it gets tougher, but it's not the kind of hard that makes you
            want to chuck your phone across the room.<br />
            There's like a ton of levels - I'm still working through them and
            haven't gotten bored yet.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/challenge/challenge-img-desk.png"
            media="(min-width: 1432px)"
            width="642"
            height="565" />
          <source
            srcset="./img/challenge/challenge-img-mob.png"
            width="458"
            height="402" />
          <img
            class="challenge-img"
            src="./img/challenge/challenge-img-mob.png"
            alt="Screenshot of the game"
            width="458"
            height="402"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
