<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <div class="cta-text-wrapper">
          <p class="cta-subtitle">
            Think you can handle the challenge?<br />
            Watch carefully.<br />
            Tap precisely.<br />
            Fill every jar.<br />
            Download Liquid Out Today<br />
            You can grab it on Google Play right now.
          </p>
          <a
            class="hero-btn cta-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.liquid.out.puzzle&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
          >
            <img
              class="hero-play-img"
              src="./img/hero/hero-play-img.png"
              alt="Google Play"
              width="180"
              height="57"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
