<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">HOW TO PLAY</h2>
      <p class="section-subtitle gameplay-subtitle">
        Liquid Out is easy to learn and instantly engaging.
      </p>
      <div class="gameplay-content-wrapper">
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1432px)"
            width="359"
            height="386" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="329" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="329"
            loading="lazy"
        /></picture>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <svg class="puzzle-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">
              Watch the colored liquid flowing through the pipes
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="puzzle-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">
              Tap the matching bottle at the bottom
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="puzzle-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">Open the valve at the perfect time</p>
          </li>
          <li class="gameplay-list-item">
            <svg class="puzzle-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="gameplay-item-text">
              Catch the correct color before it changes
            </p>
          </li>
        </ul>
        <p class="gameplay-text">
          You really gotta watch closely and time it just right, or you'll mess
          up the whole thing.<br />
          At first, the flow is predictable. But as levels progress, pipes
          twist, merge, and overlap — requiring sharper focus and faster
          decisions.<br />
          Just tap with one finger, but there's tons you can do with it.
        </p>
      </div>
    </div>
  </div>
</section>
