<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How to Play</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#visual">Visual</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#challenge">Challenge</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#advantages"
          >Why Liquid Out</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#testimonials"
          >Testimonials</a
        >
      </li>
    </ul>
  </nav>
</div>
