<section class="section sessions-section" id="sessions">
  <div class="sessions-bg-wrapper">
    <div class="container sessions-container">
      <div class="sessions-content-wrapper">
        <div class="sessions-text-wrapper">
          <h2 class="section-title sessions-title">PLAY YOUR WAY</h2>
          <p class="section-subtitle sessions-subtitle">
            Perfect for Short Breaks or Long Sessions
          </p>
          <p class="sessions-top-text">
            Whether you've got 5 minutes or an hour to kill, this game totally
            adapts to your schedule.<br />
            Play during:
          </p>

          <ul class="sessions-list">
            <li class="sessions-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="sessions-item-text">Coffee breaks</p>
            </li>
            <li class="sessions-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="sessions-item-text">Commutes</p>
            </li>
            <li class="sessions-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="sessions-item-text">Study sessions</p>
            </li>
            <li class="sessions-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="sessions-item-text">Relaxation time</p>
            </li>
          </ul>
          <picture>
            <source
              srcset="./img/sessions/sessions-img-desk.png"
              media="(min-width: 1432px)"
              width="445"
              height="516" />
            <source
              srcset="./img/sessions/sessions-img-mob.png"
              width="343"
              height="398" />
            <img
              class="sessions-img"
              src="./img/sessions/sessions-img-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="398"
              loading="lazy"
          /></picture>
          <p class="sessions-bottom-text">
            Perfect for killing time at the bus stop, though some levels had me
            scratching my head for a while.<br />
            You control the pace.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
