<section class="section test-section" id="test">
  <div class="test-bg-wrapper">
    <div class="container test-container">
      <div class="test-content-wrapper">
        <div class="test-text-wrapper">
          <h2 class="section-title test-title">TEST YOUR LOGIC</h2>
          <p class="section-subtitle test-subtitle">Think Before You Tap</p>
          <p class="test-top-text">
            This isn’t random tapping — it’s strategy.<br />
            You’ll need to:
          </p>
          <picture>
            <source
              srcset="./img/test/test-img-desk.png"
              media="(min-width: 1432px)"
              width="368"
              height="571" />
            <source
              srcset="./img/test/test-img-mob.png"
              width="307"
              height="476" />
            <img
              class="test-img"
              src="./img/test/test-img-mob.png"
              alt="Screenshot of the game"
              width="307"
              height="476"
              loading="lazy"
          /></picture>
          <ul class="test-list">
            <li class="test-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="test-item-text">Predict which color comes next</p>
            </li>
            <li class="test-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="test-item-text">Watch pipe direction changes</p>
            </li>
            <li class="test-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="test-item-text">Plan ahead for mixed flows</p>
            </li>
            <li class="test-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="test-item-text">Avoid tapping too early or too late</p>
            </li>
          </ul>
          <p class="test-bottom-text">
            When the pipes start getting all twisted and crazy, you really have
            to think fast.<br />
            The more you play, the better you get at timing things just right
            and thinking on your feet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
