<section class="section visual-section" id="visual">
  <div class="visual-bg-wrapper">
    <div class="container visual-container">
      <div class="visual-content-wrapper">
        <div class="visual-text-wrapper">
          <h2 class="section-title visual-title">SATISFYING VISUAL FLOW</h2>
          <p class="section-subtitle visual-subtitle">Relaxing Yet Dynamic</p>
          <p class="visual-top-text">
            There’s something deeply satisfying about watching colors flow
            smoothly into jars.<br />
            What you will love about this game:
          </p>
          <ul class="visual-list">
            <li class="visual-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="visual-item-text">Glossy liquid animations</p>
            </li>
            <li class="visual-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="visual-item-text">Smooth valve mechanics</p>
            </li>
            <li class="visual-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="visual-item-text">Bright color splashes</p>
            </li>
            <li class="visual-list-item">
              <svg class="puzzle-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="visual-item-text">Clean, cheerful interface</p>
            </li>
          </ul>
          <p class="visual-bottom-text">
            When you nail a pour, it feels great. And seeing that jar fill up?
            So satisfying.<br />
            It’s the kind of gameplay that makes you want to solve “just one
            more level.”
          </p>
        </div>
        <picture>
          <source
            srcset="./img/visual/visual-img-desk.png"
            media="(min-width: 1432px)"
            width="529"
            height="520" />
          <source
            srcset="./img/visual/visual-img-mob.png"
            width="414"
            height="408" />
          <img
            class="visual-img"
            src="./img/visual/visual-img-mob.png"
            alt="Screenshot of the game"
            width="414"
            height="408"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
